@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Bodoni+Moda:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s linear all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* li{list-style-type: none;}

a,i,g,span,input,button{
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button{
  background: none;
  border: none;
  font: inherit;
}

input{
  width: 100%;
  outline: none;
}

button{
  cursor: pointer;
}

html {
  font-size: 100%;
}

i{ pointer-events: none;}

address{ font-style: normal;} */


html{
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body{
  background: var(--backgroundColor);
  color: var(--textColor);
}


/* preloader */

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backgroundColor);
  display: grid;
  place-items: center;
  z-index: 6;
  transition: var(--transition);
}
.preloader.remove{
  visibility: hidden;
  opacity: 0;
}
.preloader .img{
  height: 50px;
  width: 50px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* end of preloader */
/* header */

.logo{
  text-decoration: none;
  position: relative;
}

.logo p{
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--primary-800);
  font-weight: 600;
  font-family: "Bodoni+Moda" ;
}

.logo-word{
  color: rgb(243, 207, 0);
}